
# Dependências do Node.js
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*

# Arquivos temporários e cache do sistema
.DS_Store
.cache/

# Relatórios de cobertura de testes
coverage/

# Resultados e arquivos de teste
test-results/
tests/input-teste.txt

# Arquivos gerados por builds (caso seja usado futuramente)
dist/
build/

# Configurações específicas de IDEs e editores
.vscode/
.idea/

# Arquivo de bloqueio de dependências (manter apenas se não for necessário versionar)
package-lock.json
